mixin sArticals()
	// start sArticals
	+b.SECTION.sArticals.section#sArticals&attributes(attributes)
		.container
			+b.section-title
				h2 Издания
			+e.row.row
				+articalsItem()
					+articalItemTopC(1)
						h5 ЕЛЕНА ОБРАЗЦОВА&nbsp;И ГЕОРГИЙ СВИРИДОВ&nbsp;&mdash; &laquo;В&nbsp;СЕРДЦЕ СВЕТИТ РУСЬ&raquo;
						p Юбилейный диск вокальной музыки Георгия Свиридова &laquo;В&nbsp;сердце светит Русь&raquo; с&nbsp;записями великой русской певицы Елены Васильевны Образцовой и&nbsp;автора. Издание подготовлено Фондом Елены Образцовой и&nbsp;фирмой &laquo;Мелодия&raquo; в&nbsp;2015 году и&nbsp;приурочен к&nbsp;100-летию со&nbsp;дня рождения композитора.
					+articalsItemSlider()
						+articalsItemSlide(1, 1)
						+articalsItemSlide(2, 1)
						+articalsItemSlide(3, 1)
						+articalsItemSlide(4, 1)
						+articalsItemSlide(1, 1)
						+articalsItemSlide(2, 1)
						+articalsItemSlide(3, 1)
						+articalsItemSlide(4, 1)
				+articalsItem()
					+articalItemTopC(2)
						h5 ЕЛЕНА ОБРАЗЦОВА И&nbsp;ГЕОРГИЙ СВИРИДОВ&nbsp;&mdash; &laquo;В&nbsp;СЕРДЦЕ СВЕТИТ РУСЬ&raquo;
						p В&nbsp;июле 1980&nbsp;г.&nbsp;в&nbsp;рамках культурной программы Олимпийских игр в&nbsp;Москве Елена Образцова впервые в&nbsp;своей исполнительской практике выступила с&nbsp;Академическим оркестром русских народных инструментов под управлением Николая Некрасова.
					+articalsItemSlider()
						+articalsItemSlide(1, 2)
						+articalsItemSlide(2, 2)
						+articalsItemSlide(3, 2)
						+articalsItemSlide(4, 2)
						+articalsItemSlide(1, 2)
						+articalsItemSlide(2, 2)
						+articalsItemSlide(3, 2)
						+articalsItemSlide(4, 2)
				+articalsItem()
					+articalItemTopC(3)
						h5 ЕЛЕНА ОБРАЗЦОВА И ВАЖА ЧАЧАВА — ПЕТР ЧАЙКОВСКИЙ. РОМАНСЫ
						p Юбилейный диск вокальной музыки Георгия Свиридова &laquo;В&nbsp;сердце светит Русь&raquo; с&nbsp;записями великой русской певицы Елены Васильевны Образцовой и&nbsp;автора. Издание подготовлено Фондом Елены Образцовой и&nbsp;фирмой &laquo;Мелодия&raquo; в&nbsp;2015 году и&nbsp;приурочен к&nbsp;100-летию со&nbsp;дня рождения композитора.
					+articalsItemSlider()
						+articalsItemSlide(1, 3)
						+articalsItemSlide(2, 3)
						+articalsItemSlide(3, 3)
						+articalsItemSlide(4, 3)
						+articalsItemSlide(1, 3)
						+articalsItemSlide(2, 3)
						+articalsItemSlide(3, 3)
						+articalsItemSlide(4, 3)
				+articalsItem()
					+articalItemTopC(4)
						h5
							| ЕЛЕНА ОБРАЗЦОВА&nbsp;&mdash;
							|
							br.d-none.d-xl-block
							| С&nbsp;ЛЮБОВЬЮ К&nbsp;ИСПАНИИ
						p Юбилейный диск вокальной музыки Георгия Свиридова &laquo;В&nbsp;сердце светит Русь&raquo; с&nbsp;записями великой русской певицы Елены Васильевны Образцовой и&nbsp;автора. Издание подготовлено Фондом Елены Образцовой и&nbsp;фирмой &laquo;Мелодия&raquo; в&nbsp;2015 году и&nbsp;приурочен к&nbsp;100-летию со&nbsp;дня рождения композитора.
					+articalsItemSlider()
						+articalsItemSlide(1, 4)
						+articalsItemSlide(2, 4)
						+articalsItemSlide(3, 4)
						+articalsItemSlide(4, 4)
						+articalsItemSlide(1, 4)
						+articalsItemSlide(2, 4)
						+articalsItemSlide(3, 4)
						+articalsItemSlide(4, 4)
				+articalsItem()
					+articalItemTopC(5)
						h5  ЗВЕЗДЫ БОЛЬШОГО ТЕАТРА&nbsp;&mdash; ЕЛЕНА ОБРАЗЦОВА
						p Юбилейный диск вокальной музыки Георгия Свиридова &laquo;В&nbsp;сердце светит Русь&raquo; с&nbsp;записями великой русской певицы Елены Васильевны Образцовой и&nbsp;автора. Издание подготовлено Фондом Елены Образцовой и&nbsp;фирмой &laquo;Мелодия&raquo; в&nbsp;2015 году и&nbsp;приурочен к&nbsp;100-летию со&nbsp;дня рождения композитора.
					+articalsItemSlider()
						+articalsItemSlide(1, 5)
						+articalsItemSlide(2, 5)
						+articalsItemSlide(3, 5)
						+articalsItemSlide(4, 5)
						+articalsItemSlide(1, 5)
						+articalsItemSlide(2, 5)
						+articalsItemSlide(3, 5)
						+articalsItemSlide(4, 5)
				+articalsItem()
					+articalItemTopC(6)
						h5 БРАВО, ЕЛЕНА!
						p Данное издание выпущено в 2013 году и посвящено 50-летию творческой деятельности Елены Образцовой. На 2 CD размещены арии из опер, исполненные великой певицей.
					+articalsItemSlider()
						+articalsItemSlide(1, 6)
						+articalsItemSlide(2, 6)
						+articalsItemSlide(3, 6)
						+articalsItemSlide(4, 6)
						+articalsItemSlide(1, 6)
						+articalsItemSlide(2, 6)
						+articalsItemSlide(3, 6)
						+articalsItemSlide(4, 6)
	// end sArticals
mixin articalsItem()
	.col-md-6
		+e.item
			block

mixin articalItemTopC(imgNum)
	+e.top-content
		+e.big-img-cont
			+e.A.big-img(href=`img/@2x/articals-big-${imgNum}.jpg` data-fancybox=`articalImg${imgNum}`)
				img.lazy(src="#" data-src=`img/@2x/articals-big-${imgNum}.jpg` alt="")
		+e.txt-block
			block

mixin articalsItemSlider()
	+e.slider
		.artical-slide-prev
			+icon('chevron-left')
		.artical-slide-next
			+icon('chevron-right')
		.swiper-container.arcticals-slider-js
			.swiper-wrapper
				block
mixin articalsItemSlide(imgNum, fancyGroup)
	.swiper-slide
		+e.A.galery-link(href=`img/@2x/sArticals-small-${imgNum}.jpg` data-fancybox=`articalImg${fancyGroup}`)
			img.swiper-lazy(src="#" data-src=`img/@2x/sArticals-small-${imgNum}.jpg` alt="")